<footer>
  <div class="footer-content">
    <table>
      <tr>
        <td>
          Mühlenstraße 31, 33607 Bielefeld<br>
          Telefon: 0521 123456789<br>
          E-Mail: info@denker-umwelt.de
        </td>
        <td>
          <ul>
            <li><a href="AGB.html">AGB</a></li>
            <li><a href="Impressum.html">Impressum</a></li>
            <li><a href="DSGVO.html">Datenschutzerklärung</a></li>
          </ul>
        </td>
      </tr>
    </table>
    <div style="display: flex; align-items: center; gap: 8px; margin-top: 6px;">
      <a href="#" class="footer-logo">
        <img src="img/Logo_Kurz.png" width="38" alt="Denker Umwelt Logo">
      </a>
      <p style="margin: 0;">&copy;2025 Denker Umwelt. Alle Rechte vorbehalten.</p>
    </div>
  </div>
</footer>
